export(artificialNeuralNetworkModel,
artificialNeuralNetworkScore,
B2,
B4,
getEigenvaluesFromPCA,
getLoadingsFromPCA,
getPCAObject,
getScoresFromPCA,
kendallCoefficient,
linearRegressionModel,
linearRegressionScore,
modelPerformance,
naiveBayesModel,
naiveBayesScore,
pcavs,
pearsonCoefficient,
plot.list,
plot.VarSelPerformance,
print.VarSelPerformance,
print.VarSel,
sampleComplexityPAC,
spcavs,
spearmanCoefficient,
standardizedRegressionCoefficient,
vcDimensionArtificialNeuralNetwork,
vcDimensionLinearRegression,
vcDimensionNaiveBayes)
