import(stats)
import(graphics)

export(artificialNeuralNetworkModel)
export(artificialNeuralNetworkScore)
export(B2)
export(B4)
export(getEigenvaluesFromPCA)
export(getLoadingsFromPCA)
export(getPCAObject)
export(getScoresFromPCA)
export(kendallCoefficient)
export(linearRegressionModel)
export(linearRegressionScore)
export(modelPerformance)
export(naiveBayesModel)
export(naiveBayesScore)
export(pcavs)
export(pearsonCoefficient)
export(sampleComplexityPAC)
export(spcavs)
export(spearmanCoefficient)
export(standardizedRegressionCoefficient)
export(vcDimensionArtificialNeuralNetwork)
export(vcDimensionLinearRegression)
export(vcDimensionNaiveBayes)
export(plot)
export(print)

S3method(plot, list)

S3method(print, VarSel)

S3method(print, VarSelPerformance)
S3method(plot, VarSelPerformance)
